target/
.cpcache/
.nrepl-port
.shadow-cljs/
.lsp/
.clj-kondo/
node_modules/
.nrepl-port
.nrepl-history
.clj-kondo/.cache
.lsp/.cache
.calva/
.DS_Store
icons/.repos

shadow-css-index.edn

dev/css/
dev/js/
.icons/
release/
*.old
