target/
.cpcache/
.nrepl-port
.shadow-cljs/
.lsp/
.clj-kondo/
node_modules/
.nrepl-port
.nrepl-history
.clj-kondo/.cache
.lsp/.cache
dev/js/
release/js/
.calva/
.DS_Store
icons/.repos


dev/css/
.icons/
release/
*.old
