{;; REPL
 :paths ["src" "stories" "dev"]
 :deps
 {org.clojure/clojurescript                  {:mvn/version "1.11.54"}
  org.clojure/core.async                     {:mvn/version "1.5.648"}
  cljs-bean/cljs-bean                        {:mvn/version "1.7.0"}
  com.github.gersak/helix.placenta           {:git/url "https://github.com/gersak/helix.placenta"
                                              :sha "3e58da43af643092322a2694c559e9b68cb81db5"}
  camel-snake-kebab/camel-snake-kebab        {:mvn/version "0.4.3"}
  com.github.gersak/vura                     {:mvn/version "0.5.7-SNAPSHOT"}
  lilactown/helix                            {:mvn/version "0.1.6"}}
 :aliases
 {:shadow
  {:extra-deps
   {thheller/shadow-cljs {:mvn/version "2.19.9"}}}
  :cider
  {:extra-deps
   {cider/cider-nrepl {:mvn/version "0.28.5"}}}}}
