{;; REPL
 :paths ["src" "resources" "gen"]
 :deps
 {org.clojure/clojurescript                  {:mvn/version "1.11.54"}
  org.clojure/core.async                     {:mvn/version "1.5.648"}
  cljs-bean/cljs-bean                        {:mvn/version "1.7.0"}
  com.github.gersak/helix.placenta           {:git/url "https://github.com/gersak/helix.placenta"
                                              :git/sha "f0364ae901d1902132be9b0dd3c8f11aea924e2b"}
  ; com.github.gersak/helix.placenta           {:local/root "helix.placenta"}
  camel-snake-kebab/camel-snake-kebab        {:mvn/version "0.4.3"}
  com.github.gersak/vura                     {:mvn/version "0.5.7-SNAPSHOT"}
  com.thheller/shadow-css                    {:mvn/version "0.4.2"} 
  lilactown/helix                            {:mvn/version "0.1.6"}}
 :aliases
 {:shadow
  {:extra-deps
   {thheller/shadow-cljs {:mvn/version "2.20.2"}}}
  :showcase
  {:extra-paths ["showcase"]}
  :icons
  {:extra-paths ["icons"]
   :extra-deps {babashka/fs {:mvn/version "0.2.16"}}}
  :cider
  {:extra-deps
   {cider/cider-nrepl {:mvn/version "0.30.0"}}}}}
