{:deps true
 :nrepl {:port 7312}
 :dev-http {8000 ["showcase/docs" "showcase/dev"]}
 :builds {:dev
          {:target :browser
           :entries [toddler.showcase.dev]
           :module-loader true
           :modules {:main
                     {:entries [toddler.showcase.dev]
                      :init-fn toddler.showcase.dev/start!}
                     :markdown
                     {:entries [toddler.md]
                      :depends-on #{:main}}}
           :output-dir "showcase/dev/js"
           :output-to "showcase/dev/js/main.js"}
          :github
          {:target :browser
           :entries [toddler.showcase]
           :module-loader true
           :modules {:main
                     {:entries [toddler.showcase]
                      :init-fn toddler.showcase/start!}
                     :markdown
                     {:entries [toddler.md]
                      :depends-on #{:main}}}
           :output-dir "showcase/web/js"
           :output-to "showcase/web/js/main.js"}}}
