{:deps true
 :nrepl {:port 7312}
 :builds
 {:dev
  {:target :browser
   :entries [toddler.showcase.dev]
   :module-loader true
   :modules {:main
             {:entries [toddler.showcase.dev]
              :init-fn toddler.showcase.dev/start!}
             :markdown
             {:entries [toddler.md]
              :depends-on #{:main}}}
   :output-dir "docs/js"
   :output-to "docs/js/main.js"
   :devtools {:http-root "docs"
              :http-port 8000
              :preloads []
              :watch-dirs ["doc"]}}
  :github
  {:target :browser
   :entries [toddler.showcase]
   :module-loader true
   :modules {:main
             {:entries [toddler.showcase]
              :init-fn toddler.showcase/start!}
             :markdown
             {:entries [toddler.md]
              :depends-on #{:main}}}
   :output-dir "docs/js"
   :output-to "docs/js/main.js"}}}
